ul{
    background-color:rgb(44, 41, 41);
}

nav{
    background-color: rgb(44, 41, 41);
}

#botonesNav{
    background-color:  rgb(44, 41, 41);;
    color: azure;
    margin: 5px;
}
#botonesNav:hover::before{
    transform: scale(1.1);
    box-shadow: 0 0 15px gold;

}
#botonesNav:hover{
    color: gold;
    box-shadow: 0 0 5px gold;
    text-shadow: 0 0 5px gold;

}

  
 