#home {
  background-color: #640469;
  margin: 10px;
  margin-top: 70px;
}

#about-us, #proyectos {
  margin-bottom: 20px;
}

#botonVerMas {
  color: azure !important;
}

#botonVerMas:hover {
  color: #020202 !important;
  background: gold;
  border-color: gold !important;
  transition: all 0.4s ease 0s;
  display: inline-block;
  transition: all 0.4s ease 0s;
}
