#home {
  text-align: center;
  background-color: #640469;
}
#cards {
  text-align: center;
}

#botonVerMas {
  color: azure !important;
}

#botonVerMas:hover {
  color: #020202 !important;
  background: gold;
  border-color: gold !important;
  transition: all 0.4s ease 0s;
  display: inline-block;
  transition: all 0.4s ease 0s;
}
