#cardDev {
  width: 100%;
  margin: 10px;
  padding: 0;
  text-align: center;
  border-radius: 10px;
}

#cardDev {
  background: rgb(44, 41, 41);
  text-decoration: none;
  color: azure;
  display: block;
  transition: 0.25s ease;
}

#cardDev:hover {
  transform: translate(-10px, -10px);
  border-color: gold;
  background-color: gold;
  color: rgb(44, 41, 41);
  .social {
    color: rgb(44, 41, 41);
  }
  #imgCard{
    transform: scale3d(1.1, 1.1, 1.1);
    box-shadow:  0 0 10px #640469;
    transition: transform 0.4s;
  }
}

#imgCard {
  max-height: fit-content;
  max-width: fit-content;
  border-radius: 10px;
  transition: 0.4s ease;
}

.icon {
  width: 50px;
}

.social {
  text-decoration: none;
  color: azure;
  margin: 10px;
}