#cardProyecto {
    width: 17.5rem;
    margin: 10px;
    padding: 0;
    color: azure;
    background-color: rgb(44, 41, 41);;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1);;
}

.fondoBody{
    width: 17.5rem;
    height: 100%;
    padding: 0;
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    color: azure;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 1);;
    min-width: 17.5rem;
}

.fondoBody:hover{
        opacity: 1;
        backdrop-filter: blur(10px);
        border-color: azure;

}

.textoBody{
    margin-top: 30px;
}



#imgCard {
    max-width: auto !important;
    max-height: 250px !important;
}

#verMasButton {
    width: 100%;
    color: azure;
}

.favourite {
    position: absolute;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
}

#verMasButton:hover {
    color: #020202 !important;
    background: gold;
    border-color: gold !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
  }

.favourite:hover::before{
    transform: scale(1.1);
    box-shadow: 0 0 15px gold !important;
}
.favourite:hover{
    color: gold !important;
    transition: all 0.2s ease 0s;
}

.favourite:checked{
    color: gold;
}